{% extends 'no_banner_base.html' %}
{% block headers_scripts_after_sqs %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='signup.css') }}">

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}
{% block content %}

<div id="login-module">
    <div id="existing-user">

        <div class="form-wrapper">

            <p class="form-header" style="letter-spacing: 2px; text-transform: uppercase;">Reset Password</p>
            <div class="field-list clear">
                <div class="form-item field email">

                    <form id="verify-email-form" action="reset_password" method="post">
                        <fieldset>
                            <input class="field-element required" id="password" name="password" type="password"
                                   placeholder="Please enter new password">
                        </fieldset>
                        <ul id="error-container"></ul>
                        {% if error %}
                        <div id="error-message" class="error-message">{{ error }}</div>

                        {% endif %}
                        <script type="text/javascript">

                            var setBorderRed = function (element) {
                                element.css('border-color', 'red');
                            };

                            var setBorderNone = function (element) {
                                element.css('border-color', '');
                            };

                            var getErrorListItem = function (error) {
                                return '<li style="color: red; font-size: 0.8em;">' + error + '</li>'
                            };

                            var validateForm = function () {
                                var password = document.getElementById("password").value;
                                var errorContainer = $("#error-container");

                                var error = false;
                                setBorderNone($("#password"));

                                errorContainer.empty();
                                if (password == null || password == "") {
                                    errorContainer.append(getErrorListItem('Please enter a password'));
                                    setBorderRed($("#password"));
                                    error = true;
                                }
                                if (password.length <= 6) {
                                    errorContainer.append(getErrorListItem('Password must be at least 6 characters'));
                                    setBorderRed($("#password"));
                                    error = true;
                                }
                                if (error) {
                                    return false;
                                }

                                setBorderNone($("#password"));
                                return true;


                            };
                        </script>
                        <input hidden name="t" value="{{ token }}"/>
                        <input class="button" id="sign-up-button" type="submit" onclick="return validateForm();"
                               value="Continue"/>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block prefooter %}{% endblock %}