{% extends 'no_banner_base.html' %}
{% block headers_scripts_after_sqs %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='signup.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='common.css') }}">
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/spin.js') }}"></script>
<style>
</style>
{% endblock %}
{% block content %}
<div id="login-module">
    <div id="existing-user">

        <div class="form-wrapper">

            <p class="form-header">JOIN VOYAJOY</p>
            <div class="field-list clear">
                <div class="form-item field email">

                    <form name="sign-up-form" id="verify-email-form" action="signup" method="post">
                        <fieldset>
                            <input class="field-element required" id="firstname" name="firstname" type="text"
                                   placeholder="First Name">

                            <input class="field-element required" id="lastname" name="lastname" type="text"
                                   placeholder="Last Name">
                            <input class="field-element required" id="email" name="email" type="email"
                                   placeholder="Email" autocomplete="off">
                            <input class="field-element required" id="password" name="password" type="password"
                                   placeholder="Password" autocomplete="off">
                            {% if request.args.get('next') %}
                            <input type="hidden" value="{{ request.args.get('next') }}" name="next">
                            {% endif %}
                        </fieldset>
                        <div id="spinner" style="position: relative; margin: 0.5em;"></div>
                        <ul id="error-container"></ul>
                        <div id="error-message" class="error-message"></div>

                        <script type="text/javascript">


                            var validateEmail = function (email) {
                                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                                    return true;
                                }
                                return false;
                            };

                            var setBorderRed = function (element) {
                                element.css('border-color', 'red');
                            };

                            var setBorderNone = function (element) {
                                element.css('border-color', '');
                            };

                            var getErrorListItem = function (error) {
                                return '<li>' + error + '</li>'
                            };

                            var validateForm = function () {
                                var first = document.getElementById("firstname").value;
                                var last = document.getElementById("lastname").value;
                                var email = document.getElementById("email").value;
                                var password = document.getElementById("password").value;
                                var errorContainer = $("#error-container");

                                var error = false;
                                setBorderNone($("#firstname"));
                                setBorderNone($("#lastname"));
                                setBorderNone($("#email"));
                                setBorderNone($("#password"));

                                errorContainer.empty();
                                if (first == null || first == "") {
                                    errorContainer.append(getErrorListItem('Please enter a first name'));
                                    setBorderRed($("#firstname"));
                                    error = true;
                                }
                                if (last == null || last == "") {
                                    errorContainer.append(getErrorListItem('Please enter a last name'));
                                    setBorderRed($("#lastname"));
                                    error = true;
                                }
                                if (email == null || email == "") {
                                    errorContainer.append(getErrorListItem('Please enter an email address'));
                                    setBorderRed($("#email"));
                                    error = true;
                                }
                                if (!validateEmail(email)) {
                                    errorContainer.append(getErrorListItem('Please enter a valid email address'));
                                    setBorderRed($("#email"));
                                    error = true;
                                }
                                if (password == null || password == "") {
                                    errorContainer.append(getErrorListItem('Please enter a password'));
                                    setBorderRed($("#password"));
                                    error = true;
                                }
                                if (password.length <= 6) {
                                    errorContainer.append(getErrorListItem('Password must be at least 6 characters'));
                                    setBorderRed($("#password"));
                                    error = true;
                                }
                                if (error) {
                                    return false;
                                }

                                setBorderNone($("#firstname"));
                                setBorderNone($("#lastname"));
                                setBorderNone($("#email"));
                                setBorderNone($("#password"));
                                return true;
                            };

                            var spinner = new Spinner({
                                    lines: 9, // The number of lines to draw
                                    length: 4, // The length of each line
                                    width: 2, // The line thickness
                                    radius: 6, // The radius of the inner circle
                                    color: '#000', // #rbg or #rrggbb
                                    speed: 1, // Rounds per second
                                    trail: 25, // Afterglow percentage
                                    shadow: true // Whether to render a shadow
                                });


                            var signup = function () {
                                $("#error-message").empty();
                                var formValid = validateForm();
                                if (formValid) {
                                    spinner.spin(document.getElementById("spinner"));
                                    $.ajax({
                                        type: "POST",
                                        url: "/signupAjax",
                                        data: $("#verify-email-form").serialize(),
                                        success: function (data) {
                                            spinner.stop();
                                            if (data.success) {
                                                // data.redirect contains the string URL to redirect to
                                                window.location.href = data.target;
                                            }
                                            else {
                                                spinner.stop();
                                                console.log('data' + data.message);
                                                $("#error-message").text(data.message);
                                            }
                                        }
                                    });
                                }
                            };
                        </script>
                        <button class="voyajoy-btn" type=button
                               onclick="signup()">Sign Up</button>

                    </form>

                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block prefooter %}{% endblock %}