<div class="sqs-block-content" style="height: 400px;">
    <a href="/browse/{{ city.objectId }}" style="cursor: pointer;">
        <div class="card-container" style="background-image: url('{{ city.image }}');">
            <div class="card-outer-text-container">
                <div class="card-overlay"></div>
                <div class="card-inner-text-container">
                    <div class="card-text">
                        <p>
                            {{ city.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>