<div class="trips-module-header">
    <p>Your Reservations</p>
</div>
<div class="trips-module-body" style="background-color: #eeeded">
    {% if reservations %}
    {% for reservation in reservations %}
    <div class="trips-row material-card">
        <a href="/rentals/{{ reservation.listing.objectId }}">
            <div class="inner-body">
                <img src="{{ reservation.listing.photos[0].large }}"/>
                <p class="row-header">{{ reservation.listing.headline }}</p>
                <p class="row-sub-header">{{ reservation.listing.bedrooms }}BR/{{ reservation.listing.bathrooms
                    }}BA - {{ reservation.listing.housingType }} - {{ reservation.listing.placeDetails.city }}, {{
                    reservation.listing.placeDetails.state }}</p>
                <p class="row-sub-header">Booking Status: {% if reservation.approved %}<span
                        style="background-color: green; padding: 0.5em;">Approved</span>{% else %}<span
                        style="background-color: yellow; padding: 0.5em;">Pending Approval</span>{% endif %}
                </p>
                {% if not reservation.approved %}
                <div class="payment-container" style="text-align: center; margin: 1em 0;">
                    <p class="payment-info">Your credit card will not be charged unless the host approves your
                        request</p>
                </div>
                {% endif %}
                <p style="text-align: center;"><a href="/reservation/{{ reservation.objectId }}" style="margin :2em;"
                                                  class="voyajoy-btn">View Receipt</a></p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% else %}
    <div><p style="text-align: center;">You currently have no active reservations. Please click <a href="{{ url_for('index') }}" style="color:#4cb448;">here</a> to browse for vacation homes</p></div>
    {% endif %}
</div>