<footer id="footer" role="contentinfo">
    <div class="footer-inner">
        <div class="nav-wrapper back-to-top-nav">
            <nav>
                <div class="back-to-top"><a href="#header">Back to Top</a></div>
            </nav>
        </div>
        <div id="secondaryNavWrapper" class="nav-wrapper" data-content-field="navigation-secondaryNav">
            <nav id="secondaryNavigation" data-content-field="navigation-secondaryNav">


                <!--<div class="collection" id="id569d6fc51f4039527f9cc0ff">-->
                <!--<a href="/whatwedo">-->
                <!--<span>What We Do</span>-->
                <!--</a>-->
                <!--</div>-->


                <!--<div class="collection" id="id569c41321115e0984d25aba6">-->
                <!--<a href="/listing/">-->
                <!--<span>Contact Us</span>-->
                <!--</a>-->
                <!--</div>-->
                <div style="margin: 0 2em ! important; font-size: 1em;vertical-align: top;right: 2em;">
                    <div style="margin: 1.2em;">Company</div>

                    <div class="collection" style="display:block;" id="id569d6fefd82d5e0d8777cf41">
                        <a href="/careers">
                            <span>Careers</span>
                        </a>
                    </div>
                    <div class="collection" style="display:block" id="id569d6fda1f4039527f9cc1d8">
                        <a href="/tos">
                            <span>Terms of Service</span>
                        </a>
                    </div>

                    <div class="collection" style="display:block" id="id569d700840667a727ef11c6e">
                        <a href="/privacypolicy">
                            <span>Privacy Policy</span>
                        </a>
                    </div>


                </div>
                <div style="margin: 0 2em; font-size: 1em;vertical-align: top;">
                    <div style="margin: 1.2em;">Homeowners</div>
                    <div class="collection" style="display:block" id="id569d700840667a727ef11c6e">
                        <a href="http://www.voyajoy.com">
                            <span>Property Management</span>
                        </a>
                    </div>


                </div>


            </nav>
        </div>
        <div id="secondaryNavWrapper" class="nav-wrapper" data-content-field="navigation-secondaryNav">
            <nav id="secondaryNavigation" data-content-field="navigation-secondaryNav">


                <div class="collection">
                    Voyajoy © 2015 | Made with <3 in SF | 814 Mission St Floor 6, San Francisco, CA, 94103 | {{
                    config['VOYAJOY_PHONE_NUMBER'] }}
                </div>
            </nav>
        </div>


        <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Footer Content"
             data-type="block-field" data-updated-on="1453158438902" id="footerBlocks">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12"></div>
            </div>
        </div>
    </div>
</footer>