<div id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href="#">×</a>
		<div class="content">
			<div class="sqs-block-content" style="padding: 1em 15%;">
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet"
                              type="text/css">
                        <style type="text/css">
                            #mc_embed_signup {
                                background: #333;
                                clear: left;
                                font: 14px "proxima-nova", Helvetica, Arial, sans-serif;
                            }

                            #mce-EMAIL {
                                color: black;
                            }

                            #mce-success-response {
                                text-align: center;
                            }

                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style
                            block.
                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file.
                            */
                        </style>
                        <div id="mc_embed_signup">
                            <form action="//voyajoy.us12.list-manage.com/subscribe/post?u=cd88a3fd4564ff21724a00cc7&amp;id=87a074e849"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h1 style="text-align: center; text-transform: uppercase; letter-spacing: 2px;">
                                        Subscribe for more</h1>
                                    <p style="text-align: center; font-size: 1.2em;">Sign up with your email address
                                        to receive amazing deals at great vacation homes, from tonight to two weeks
                                        out</p>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates
                                        required
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email"
                                               id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_cd88a3fd4564ff21724a00cc7_14cdddca8a" tabindex="-1"
                                            value=""></div>
                                    <div style="text-align: center;" class="clear"><input type="submit"
                                                                                          value="Subscribe Now"
                                                                                          name="subscribe"
                                                                                          id="mc-embedded-subscribe"
                                                                                          class="button"
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript'
                                src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function ($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = 'EMAIL';
                                ftypes[0] = 'email';
                                fnames[1] = 'FNAME';
                                ftypes[1] = 'text';
                                fnames[2] = 'LNAME';
                                ftypes[2] = 'text';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                        </script>


                        <!--</div>-->
                        <!--</div>-->
                    </div>
		</div>
	</div>
</div>