{% extends 'no_banner_base.html' %}
{% block headers_scripts_before_sqs %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='voyajoy.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='listing.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='booking.css') }}">
{% endblock %}

{% block content %}
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1453844027783"
         id="page-56a7e300b2094365987d2630">

    <!-- Offer Conversion: MaxBounty -->
    <iframe src="https://voyajoy.go2cloud.org/aff_l?offer_id=2" scrolling="no" frameborder="0" width="1"
            height="1"></iframe>
    <!-- // End Offer Conversion -->
    <div class="row sqs-row">
    <div class="col sqs-col-12 span-12">
        <div class="sqs-block html-block sqs-block-html" data-block-type="2"
             id="block-yui_3_17_2_5_1453843107952_7130">
            <div class="sqs-block-content">
                <h1 class="super-header" class="text-align-center"><strong>Thank
                    you {{ reservation.renter.firstName }}!</strong></h1>
                <h1 id="booking-request-title" class="text-align-center"><strong>We have sent your reservation
                    request to {{ reservation.listing.creator.firstName }}, we will get back to you
                    soon!</strong></h1>

                <h1 id="booking-request-headline" class="text-align-center">Click <a href="/dashboard"
                                                                                     style="color: #4cb448;"><span>here</span></a>
                    to go back to your reservations</h1>
                <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                     id="block-yui_3_17_2_2_1453161433238_26524" style="margin: 2em 0;">
                    <div class="sqs-block-content">
                        <hr/>
                    </div>
                </div>
                <h1 id="booking-request-headline" class="text-align-center">{{ reservation.listing.headline }}</h1>

            </div>
        </div>
        <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="25.418410041841007"
             data-block-type="5" id="block-yui_3_17_2_5_1453843107952_5955">
            <div class="sqs-block-content">
                <div class="image-block-outer-wrapper layout-caption-hidden ">

                    <div class="intrinsic" style="max-width:1134.0px;">

                        <div style="padding-bottom:25.41840934753418%;"
                             class="image-block-wrapper   has-aspect-ratio" data-description="">
                            <noscript><img
                                    src="{{ reservation.listing.photos[0].large }}"/>
                            </noscript>
                            <img class="thumb-image"
                                 data-src="{{ reservation.listing.photos[0].large }}"
                                 data-image="{{ reservation.listing.photos[0].large }}"
                                 data-image-dimensions="1134x749" data-image-focal-point="0.5,0.5"
                                 data-load="false" data-image-id="56a7e322fd5d085cde94885c"
                                 data-type="image"/>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="sqs-block html-block sqs-block-html" data-block-type="2"
             id="block-yui_3_17_2_5_1453843107952_8975">
            <div class="sqs-block-content">
                {% include 'date_container.html' %}

                <div class="cost-overview-container">
                    <div id="left-column-cost-overview">
                        <p>Guests:</p>
                        <p>${{ reservation.rentalFee }} x {{ reservation.numNights }} nights:</p>
                        {% if reservation.cleaningFee > 0 %}
                            <p>Cleaning Fee:</p>
                        {% endif %}
                        {% if reservation.securityDeposit > 0 %}
                            <p>Security Deposit:</p>
                        {% endif %}
                        <p>Total:</p>
                    </div>
                    <div id="right-column-cost-overview">
                        <p>{{ reservation.numGuests }}</p>
                        {% if reservation.discountedRate > 0 %}
                            <p>
                                <span style="text-decoration: line-through;">
                                    ${{ reservation.rentalFeeTotalWithoutDiscount }}
                                </span>
                                <span style="color: #4CB448;">
                                    ${{ reservation.rentalFeeTotalWithDiscount|int }} ({{ reservation.discountedRate }}% off)
                                </span>
                            </p>
                        {% else %}
                            <p>${{ reservation.rentalFeeTotalWithoutDiscount }}</p>
                        {% endif %}
                        {% if reservation.cleaningFee > 0 %}
                            <p>${{ reservation.cleaningFee }}</p>
                        {% endif %}
                        {% if reservation.securityDeposit > 0 %}
                            <p>${{ reservation.securityDeposit }}</p>
                        {% endif %}
                        <!--<p>CA Tax ({{ reservation.taxRate }}%): ${{ reservation.taxes }}</p>-->
                        <p>${{ reservation.total|int }}</p>
                    </div>
                </div>
                <div id="note-fine-container"><p id="note-fine">Note: You will only be charged when the
                    host, {{ reservation.listing.creator.firstName }}, approves your request.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block prefooter %}
{% endblock %}